section {
    margin-bottom: 80px;
}

.width-100 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-link {
    width: auto;
    font-size: 24px;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 40px;
    margin-top: 20px;
}

.project-link img {
    height: 50px;
    margin-right: 10px;
}

.wrapping {
    width: auto;
}

@media only screen and (max-width: 400px) {
    .width-100 {
        display: block;
    }

    .width-10 {
        width: 50%;
    }

    article {
        font-size: 20px;
    }

    .project-link {
        font-size: 18px;
    }
}

@media only screen and (min-width: 400px) {
    .width-100 {
       display: block;
    }

    .width-10 {
        width: 40%;
    }

    article {
        font-size: 20px;
    }

    .project-link {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) {
    article {
        font-size: 23px;
    }

    .width-10 {
        width: 30%;
    }

    .project-link {
        font-size: 21px;
    }
}

@media only screen and (min-width: 992px) {
    .width-100 {
        display: flex;
    }

    .width-10 {
        width: 10%;
    }

    article {
        font-size: 26px;
    }

    .project-link {
        font-size: 24px;
    }
}

@media only screen and (min-width: 1200px) {

}